<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">799363b9</property>
        <property name="hibernate.connection.url">jdbc:mysql://br-cdbr-azure-south-b.cloudapp.net:3306/gym_unisabaneta</property>
        <property name="hibernate.connection.username">b0431bfa507395</property>
        <property name="hibernate.default_schema">b0431bfa507395</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping resource="co/com/gym/model/TbUsuario.hbm.xml" />
        <mapping resource="co/com/gym/model/TbEstadoPago.hbm.xml" />
        <mapping resource="co/com/gym/model/TbTipoUsuario.hbm.xml" />
        <mapping resource="co/com/gym/model/TbFechaEnvio.hbm.xml" />
        <mapping resource="co/com/gym/model/TbRutinas.hbm.xml" />
        <mapping resource="co/com/gym/model/TbRutinasXTbServicio.hbm.xml" />
        <mapping resource="co/com/gym/model/TbTipoContrato.hbm.xml" />
        <mapping resource="co/com/gym/model/TbServicio.hbm.xml" />
    </session-factory>
</hibernate-configuration>
